:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  background-image: url(img/grass.jpg);
}

.header {
  background-image: linear-gradient(to bottom, #f7cea8, #fa7c07);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  margin-right: 20px;
  text-align: center;
  margin: 30px 0;
}

ul {
  display: flex;
  position: relative;
  justify-content: center;
  height: 18.875em;
  width: 68em;
  margin: 4em auto 2em;
  padding: 3em 2em 3em 3.5em;
  border: 1px solid #160801;
  border-radius: 1em;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url(img/wood.png);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset,
    0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5);
}

.white {
  position: relative;
  height: 16em;
  width: 4em;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset,
    0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  transition: all .1s;
}

.black {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  height: 9em;
  width: 2em;
  z-index: 1;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #555 100%);
  transition: all .1s;
}

.white-active {
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2) inset,
    2px 2px 20px rgba(0, 0, 0, 0.4) inset, 0 0 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.black-active {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.3) inset,
    0 -2px 2px 3px rgba(0, 0, 0, 0.9) inset, 0 1px 2px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to right, #444 0%, #222 100%);
}

ul .white:first-child {
  border-radius: 5px 0 5px 5px;
}

ul .white:last-child {
  border-radius: 0 5px 5px 5px;
}

div .key-text {
  position: absolute;
  top: 30px;
  right: 50%;
  transform: translateX(50%);
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
}

div.black .key-text {
  color: #ccc;
}

.c4::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: radial-gradient(gray, darkgray);
}

.key-control  {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
}

.key-control .img {
  width: 30px;
  height: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5em;
}

.controls--prints {
  flex-direction: column;
}

.basic-select {
  width: 300px;
  margin-right: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: #db710d;
  font-size: 1.2em;
  border-radius: 8px;
  box-shadow: 0 0px 3px 2px rgba(255, 255, 255, 0.2);
  transition: all .2s;
  cursor: pointer;
}

.btn--main {
  padding: 10px 28px;
  background-color: #075f8a;
}

.btn:hover {
  opacity: 0.86;
}

.btn:active {
  transform: translateY(1px)
}

label {
  color: #ccc;
}

.pattern {
  margin-top: 8px;
}

.letter {
  color: #ccc;
  font-size: 3em;
  font-weight: 600;
  font-style: italic;
  margin-right: 20px;
}

.letter--small {
  font-weight: 400;
  font-size: 1.2em;
}

.similarity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

.data {
  background-color: white;
  border-radius: 8px;
  min-width: 600px; 
}

.rows {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rows .item {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.item .img-container {
  margin-right: 8px;
  cursor: pointer;
}
.item .img {
  width: 30px;
  height: 30px;
}

.item .name {
  color: #333;
  margin: 5px 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}


.item .name--small {
  font-weight: 400;
  color: #555
}

.spinner {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: rgba(255, 255, 255, 0.8);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 30px 20px;
}

.footer .text {
  color: white;
  font-size: 1rem;
}

.footer code {
  display: inline-block;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0 8px;
  transition: all .2s;
}

.footer code:hover {
  transform: scale(1.02) skewY(-2deg);
  font-weight: 600;
}